body {
    margin: unset;
    background-color: #cecece;
}

    main {
        position: absolute;
        width: 100vw;
        height: 100vh;
        perspective: 75px;
        perspective-origin: center;
        overflow: hidden;
    }

        main div {
            position: absolute;
        }

        /*
        Back wall
        */
        main div:first-child {
            height: 36.5vh;
            background: #e9e9e9;
            width: 29%;
            left: 35.5vw;
            top: 31.7%;
        }


        /*
        Top and bottom wall
        */
        main div:nth-child(2),
        main div:nth-child(3) {
            width: 400px;
            height: 400px;
            background-color: #d0d0d0;
        }

        /*
        Top wall
        */
        main div:nth-child(3) {
            width: 100vw;
            top: 0;
            transform: rotateX(33deg);
        }


        /*
        Bottom wall
        */
        main div:nth-child(2) {
            width: 100vw;
            bottom: 0;
            top: 68%;
            transform: rotateX(-66deg);
        }



        /*
        Right and left wall
        */
        main div:nth-child(n+4) {
            width: 400px;
            height: 400px;
            background-color: #dbdbdb;
        }

        /*
        Left wall
        */
        main div:nth-last-child(2) {
            width: 185px;
            height: 100vh;
            transform: rotateY(45deg);
            transform-origin: left;
            transition: 400ms transform ease-in-out;
        }

        /*
        Right wall
        */
        main div:last-child {
            right: 0;
            width: 185px;
            height: 100vh;
            transform-origin: right;
            transform: rotateY(-45deg);
        }


/*

Example code ***************************

*/
/*
html, body {
    width: 855px;
    height: 855px;
    perspective: 1380px;
    margin: 0;
}

div {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(178, 35, 35);
    background-size: 120px 120px;
    background-image: linear-gradient(90deg,
    #FFF 0%,#FFF 25%,#650D0D 25%,#650D0D 50%,#FFF 50%,#FFF 75%,#650D0D 75%,#650D0D 100%);
    box-shadow: inset 0 0 70px rgb(20,20,20);
}

div:nth-of-type(1) {
    transform-origin: center center;
    transform: scale(0.65);
    animation: center 0.5s linear infinite;
}
div:nth-of-type(2) {
    transform-origin: top center;
    transform: rotateX(-90deg);
    animation: center 0.5s linear infinite;
}
div:nth-of-type(3) {
    transform-origin: right center;
    transform: rotateY(-90deg);
    animation: side 0.5s linear reverse infinite;
}
div:nth-of-type(4) {
    transform-origin: bottom center;
    transform: rotateX(90deg);
    animation: center 0.5s linear infinite;
}
div:nth-of-type(5) {
    transform-origin: left center;
    transform: rotateY(90deg);
    animation: side 0.5s linear infinite;
}
div:nth-of-type(2n + 3) {
    background-image: linear-gradient(0deg,
    #FFF 0%,#FFF 25%,#650D0D 25%,#650D0D 50%,#FFF 50%,#FFF 75%,#650D0D 75%,#650D0D 100%);
}
@keyframes center { to { background-position: -60px 0px; } }
@keyframes side { to { background-position: 0px 60px; } }

*/


/*********
 * Own CSS
 */
/*
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html,
body {
    min-height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

body {
    margin: 0 15px;
}

header{
    margin: 25px 0;
}

    nav {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        margin-right: 60px;
    }
        nav div {
            padding: 0 15px;
        }

article,
aside {
    margin: 0 15px;
}

main > section:first-of-type {
    display: flex;
    justify-content: center;
}

    section:first-child video {
        width: 1080px;
        height: 100%;
    }

main > div {
    display: flex;
}
*/