:root{
    --pos-mouse-y:0;
    --pos-mouse-x:0;
    --bg:white;
    --bg-light:white;
    --bg-dark:white;
}

body {
    margin: unset;
    background-color: #cecece;
}

    [class='site-mobile'] {
        display:none;
    }

    main {
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        perspective: 2000px;
    }

    main [class='room-wrapper'] {
        transform: translate3d(0px, 0px, 100px)
        rotate3d(1, 0, 0, var(--pos-mouse-y))
        rotate3d(0, 1, 0, var(--pos-mouse-x))
        rotate3d(0, 0, 1, 0deg);
        height: 100%;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
    }

        main [class='room-wrapper'] > div:first-child {
            pointer-events: auto;
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100vw;
            height: 100vh;
            margin: -50vh 0 0 -50vw;
            transform-style: preserve-3d;
            font-size: 160px;
            min-width: 1000px;
        }

            main [class='room-wrapper'] > div:first-child > div {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                transform-style: preserve-3d;
                min-width: 1000px;
            }

            /*
            Back wall
            */
            main [class='room-wrapper'] > div:first-child > div:first-child {
                width: 100vw;
                height: 100vh;
                background-color: hsl(0,0%,var(--bg));
                box-shadow: 0 0 0 2px #e9e9e9;
                transform: translate3d(0, 0, -4000px) rotate3d(1,0,0,0.1deg) rotate3d(1,0,0,0deg);
            }


            /*
            Top and bottom wall
            */
            main [class='room-wrapper'] > div:first-child > div:nth-child(2),
            main [class='room-wrapper'] > div:first-child > div:nth-child(3) {
                width: 400px;
                height: 400px;
                background-color: hsl(0, 0%, var(--bg-dark));
            }

            /*
            Top wall
            */
            main [class='room-wrapper'] > div:first-child > div:nth-child(3) {
                bottom: 100%;
                top:0;
                width: 100vw;
                height: 4000px;
                /*background: #d0d0d0;*/
                transform: rotate3d(1, 0, 0, 90deg) translate3d(0, -4000px, 0);
                transform-origin: 50% 0%;
            }


            /*
            Bottom wall
            */
            main [class='room-wrapper'] > div:first-child > div:nth-child(2) {
                top: 100%;
                width: 100vw;
                height: 4000px;
                transform: rotate3d(1, 0, 0, 90deg) translate3d(0, -4000px, 0);
                transform-origin: 50% 0%;
                display: flex;
                justify-content: space-evenly;
            }

                main [class='room-wrapper'] > div:first-child > div:nth-child(2) > span:hover {
                    transform: rotate3d(1, 0, 0, -90deg);
                    transition: 400ms ease-in-out;
                    transform-origin: bottom center;
                }

            /*
            Right and left wall
            */
            main [class='room-wrapper'] > div:first-child > div:nth-child(n+4) {
                width: 4000px;
                height: 100vh;
                background: hsl(0, 0%, var(--bg-light));;
            }

            /*
            Left wall
            */
            main [class='room-wrapper'] > div:first-child > div:nth-last-child(2) {
                justify-content: center;
                transform: rotate3d(0, 1, 0, 90deg);
                transform-origin: 0 50%;
            }

                /*
                Left wall -> div
                */
                /*main [class='room-wrapper'] > div:first-child > div:nth-last-child(2) span:hover {*/
                    /*transform: rotate3d(0, 1, 0, -90deg);*/
                    /*transform-origin: left center;*/
                    /*transition: 1000ms ease-out;*/
                /*}*/

            /*
            Right wall
            */
            main [class='room-wrapper'] > div:first-child > div:last-child {
                right: 0;
                justify-content: center;
                transform: rotate3d(0, 1, 0, -90.03deg);
                transform-origin: 100% 50%;
            }



    [class="beamer-wrapper"] {
        display: flex;
        justify-content: space-evenly;
    }

        [class='beamer'] {
            transform-style: preserve-3d;
        }

        [class='beamer'] div {
            position:absolute;
            transform-origin: left;
        }

            [class='beamer__top'] {
                width: 144px;
                height: 395px;
                background: darkgrey;
                transform: translateZ(43px);
                top: 41px;
            }

            [class='beamer__back'] {
                width: 144px;
                height: 85px;
                background: black;
                transform: rotateX(90deg);
            }

            [class='beamer__front'] {
                width: 144px;
                height: 85px;
                background: grey;
                top: 390px;
                transform: rotateX(90deg);
            }

            [class='beamer__right'] {
                width: 42px;
                height: 425px;
                background: grey;
                transform: rotateY(-90deg);
                left: 144px;
            }

            [class='beamer__left'] {
                width: 42px;
                height: 425px;
                background: grey;
                transform: rotateY(-90deg);
                left: 0;
            }

            [class="beamer__beam-right"] {
                height: 790px;
                width: 480px;
                background: white;
                top: -100px;
                transform: rotate3d(1,0,0, 90deg) rotate3d(0,0,1,-48.3deg) translateY(454px) translateX(-154px);
                clip-path: polygon(50% 0, 0% 100%, 100% 100%);
                animation: flicker 10ms infinite;
            }

            [class="beamer__beam-left"] {
                height: 790px;
                width: 471px;
                background: white;
                top: -100px;
                transform: rotate3d(1,0,0, 90deg) rotate3d(0,0,1,58deg) translateY(380px) translateX(-222px);
                clip-path: polygon(50% 0, 0% 100%, 100% 100%);
                animation: flicker 10ms infinite;
            }

            [class="wall-content"] {
                padding: 100px;
                background: white;
                animation: flicker 1ms infinite;
            }

/*
 * Input slider
*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 14.5px 0;
}

input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #928483;
    border-radius: 6.2px;
    border: 0.9px solid #562425;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #050000, 0px 0px 1px #1f0000;
    border: 2.4px solid #000000;
    height: 39px;
    width: 16px;
    border-radius: 2px;
    background: #651817;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -15.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #9e9191;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #928483;
    border-radius: 6.2px;
    border: 0.9px solid #562425;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #050000, 0px 0px 1px #1f0000;
    border: 2.4px solid #000000;
    height: 39px;
    width: 16px;
    border-radius: 2px;
    background: #651817;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #867776;
    border: 0.9px solid #562425;
    border-radius: 12.4px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #928483;
    border: 0.9px solid #562425;
    border-radius: 12.4px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #050000, 0px 0px 1px #1f0000;
    border: 2.4px solid #000000;
    height: 39px;
    width: 16px;
    border-radius: 2px;
    background: #651817;
    cursor: pointer;
    height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #928483;
}
input[type=range]:focus::-ms-fill-upper {
    background: #9e9191;
}


@keyframes flicker {
    0%   { opacity: 0.3; }
    100% { opacity: 0.5; }
}

@media screen and (max-width: 768px) {

    body {
        background-color: white;
    }

    main {
        display: none;
    }

    [class='site-mobile'] {
        display:block;
    }
}

input[type="checkbox"][id="turn-left"]:checked + main,
input[type="checkbox"][id="turn-right"]:checked + main {
    perspective: 2000px;
    transition: 1000ms ease-in-out;
}

input[type="checkbox"][id="turn-left"]:checked + main > [class='room-wrapper'] {
    transform:  translate3d(-1872px, 0px, -459px)
    rotate3d(1, 0, 0, 0deg)
    rotate3d(0, 1, 0, -90deg)
    rotate3d(0, 0, 1, 0deg);
    transition: 1000ms ease-in-out;
}

input[type="checkbox"][id="turn-left"]:checked + main > [class='room-wrapper'] > div:first-child > div:last-child {
    display: none;
}

input[type="checkbox"][id="turn-left"]:checked + main  div[class="beamer__beam-right"] {
    display: none;
}

/*****************
zoom left
>

section {
transform:  translate3d(-1872px, 0px, -459px)
            rotate3d(1, 0, 0, var(--pos-mouse-y))
            rotate3d(0, 1, 0, -90deg)
            rotate3d(0, 0, 1, 0deg);
}

main {
    perspective: 5000px;
}

div-right{
    display:none;
}

*/

